body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  margin: 0px;
  padding: 0px;
  width: 10vw;
  font-size: 13px;
}

h2 {
  text-align: center;
}

.home-page {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.title-container {
  width: 75vw;
}

.media-icons a {
  text-decoration: none;
  color: black;
}